* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter', sans-serif;
    color:white;
    background: rgb(133, 214, 251);
    background: radial-gradient(
      circle,
      rgba(108, 178, 206, 0.633) 0%,
      rgba(70, 137, 175, 0.841) 35%,
      rgb(69, 117, 145) 100%
    );
  }

  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items:space-evenly;
    align-items: stretch;
    gap:16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr repeat(3, 1fr) 0.25fr;
    padding-left:5%;
    padding-right:5%;
  }

  #input-form{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-top:1em;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1em;
    background-color:rgba(71, 99, 126, 0.308);
    border-radius:16px;
    padding-bottom:1em;
    margin-top:1em;
  }

  #input-box{
    border-radius:0.5em;
    border:none;
    padding:0.5em;
  }

  #submit-btn{
    background-color: #4c74af85;
    border:none;
    border-radius:16px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    font-weight:300;
  }

  #submit-btn:hover{
    background-color:#4c74afe1;
  }

  .weather{
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1em;
    background-color:rgba(71, 99, 126, 0.308);
    border-radius:16px;
    padding:2em;
    min-height:550px;
    min-width:192px;
    padding-bottom:3.5em;
  }

  #weather-icon{
    filter:invert(100%);
  }

  #location {
    font-size: 2rem;
    font-weight: 800;
  }

  #temperature {
    font-size: 3rem;
  }

  
  #conditions {
    font-size: 1rem;
    text-transform: capitalize;
  }

  #temp-range{
    display:flex;
    justify-content:space-around;
    gap:1em;
    font-size:1em;
  }

  #feels-text, #feels-like{
    font-size:1em;
  }

  #sunrise-card{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #sunset-card{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #wind-spd-card{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  #wind-dir-card{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  #humidity-card{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  #pressure-card{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }

.card{
  background-color:rgba(71, 99, 126, 0.308);
  border-radius:16px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:left;
  padding:16px;
  font-weight:400;
}

.card-img{
  color:rgba(255, 255, 255, 0.473);
  height:16px;
  width:16px;
  filter: invert(100%) opacity(50%);
}



h4{
  color:rgba(255, 255, 255, 0.473);
  font-weight:300;
}

#toggle-units{
  background-color: #4c74af85;
  border:none;
  border-radius:16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
  font-weight:300;
}

#toggle-units:hover{
  background-color:#4c74afe1;
}

@media only screen and (min-width: 600px){
  #city-name{font-size:1em;}
  .card {font-size: 1.75em;}
  .weather{gap:1em;}
  #weather-icon{height:48px; width:48px;}
  #location{font-size: 1.25em;}
  #temperature{font-size:2em;}
  #conditions{font-size:1em;}
  #temp-range{font-size:1em;}
  #feels-text{font-size:1em;}
  .card-img{height:24px; width:24px;}
}


@media only screen and (max-width: 600px){
  .card {font-size: 1.25em; }
  .weather{gap:1em;}
  #weather-icon{height:48px; width:48px;}
  #location{font-size: 1.25em;}
  #temperature{font-size:2em;}
  #conditions{font-size:1em;}
  #temp-range{font-size:1em;}
  #feels-text{font-size:1em;}
  .card-img{height:24px; width:24px;}
}

@media only screen and (min-width: 768px){
  #city-name{font-size:1.25em;}
  .card{font-size:2em;}
  .weather{gap:1.5em;}
  #weather-icon{height:64px; width:64px;}
  #location{font-size: 1.75em;}
  #temperature{font-size:2.5em;}
  #conditions{font-size:1.25em;}
  #temp-range{font-size:1.25em;}
  #feels-text{font-size:1.25em;} 
  .card-img{height:32px; width:32px;}
}

@media only screen and (min-width: 992px){
  #city-name{font-size:1.25em;}
  .card{font-size:2.25em;}
  .weather{gap:1.75em;}
  #weather-icon{height:96px; width:96px;}
  #location{font-size: 2.25em;}
  #temperature{font-size:3em;}
  #conditions{font-size:1.75em;}
  #temp-range{font-size:1.75em;}
  #feels-text{font-size:1.75em;}
  .card-img{height:48px; width:48px;}
}

@media only screen and (min-width: 1200px){
  #city-name{font-size:1.5em;}
  .card{font-size:2.5em;}
  .weather{gap:2em;}
  #weather-icon{height:128px; width:128px;}
  #location{font-size: 2.5em;}
  #temperature{font-size:3.5em;}
  #conditions{font-size:2.25em;}
  #temp-range{font-size:2.25em;}
  #feels-text{font-size:2.25em;}
  .card-img{height:64px; width:64px;}
}

@media only screen and (max-height: 800px){
  .weather{gap:1em;}
 
  
}